<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <md-input-container class="md-block" flex-xs="100" flex-md="50" flex-lg="30" flex-xl="30">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </md-input-container>
  </div>

  <div class="field">
    <md-input-container class="md-block" flex-xs="100" flex-md="50" flex-lg="30" flex-xl="30">
      <%= f.label :email %><br />
      <%= f.email_field :email%>
    </md-input-container>
  </div>

  <div class="field">
    <md-input-container class="md-block" flex-xs="100" flex-md="50" flex-lg="30" flex-xl="30">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </md-input-container>
  </div>

  <div class="field">
    <md-input-container class="md-block" flex-xs="100" flex-md="50" flex-lg="30" flex-xl="30">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </md-input-container>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"md-raised md-button md-ink-ripple" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
