<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div layout="row" layout-align="center center">
  <div flex-xs="100" flex-md="80" flex-lg="70" flex-xl="60">
<md-card>
 <md-content layout-padding>
    <div>
      <form name="userForm">
        <div layout-gt-sm="row" class="field">
          <md-input-container class="md-block" flex-gt-sm>
            <%= f.label :title %><br>
            <%= f.text_field :title %>
          </md-input-container>
        </div>
        <div class="field">
          <md-input-container class="md-block">
            <%= f.label :description %><br>
            <%= f.text_area :description %>
          </md-input-container>
        </div>
        <div class="field">
          <md-input-container class="md-block">
            <%= f.label :remuneration_details %><br>
            <%= f.text_field :remuneration %>
          </md-input-container>
        </div>
        <div class="field">
          <md-input-container class="md-block">
            <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select categories!") %><br>
          </md-input-container>
        </div>
      </form>
    </div>
    <div class="actions">
      <%= f.submit "Submit", class:"md-raised md-button md-ink-ripple" %>
    </div>
  </md-content>
</md-card>
</div>
</div>
<% end %>
