<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <md-content layout-padding>
    <div>
      <form name="userForm">
        <div layout-gt-sm="row" class="field">
          <md-input-container class="md-block" flex-gt-sm>
            <%= f.label :title %><br>
            <%= f.text_field :title %>
          </md-input-container>
        </div>
        <div class="field">
        <md-input-container class="md-block">
          <%= f.label :description %><br>
          <%= f.text_area :description %>
        </md-input-container>
      </div>
      <div layout-gt-sm="row" class="field">
        <md-input-container class="md-block">
          <%= f.label :is_open? %>
          <%= f.check_box :is_open? %>
        </md-input-container>
       </div>
      </form>
    </div>
  </md-content>
 <div class="actions">
  <%= f.submit %>
</div>

<% end %>
