<p id="notice"><%= notice %></p>


<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="30" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-title">Filter by</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div flex="100" flex-gt-sm="50" layout="column">
            <div>
              <div flex-xs flex="50">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                  Photography
                </md-checkbox>
              </div>

            </div>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Filter</md-button>
        </md-card-actions>
      </md-card>
    </div>


    <div flex-xs flex-gt-xs="70" layout="column">
      <md-card>
      <md-content>
      <md-list>
      <% @listings.each do |listing| %>
      <md-list-item class="md-3-line" layout-margin>
      <div class="md-list-item-text">
        <span class="md-subhead"><%= link_to listing.title, listing_path(id:listing, isApplication: "false")%>
        <br><%= listing.poster_id %></span><br>
        <span class=".md-body-1"><%= listing.description %></span><br>
        <span><i class="material-icons md-18">attach_money</i></span>
        <md-card-actions layout="row" layout-align="end center">
          <%= link_to "Apply", listing_path(id:listing, isApplication: "true"), class:"md-button md-raised"%>
        </md-card-actions>
      </div> 
      </md-list-item>
      <md-divider ng-if="!$last" md-inset layout="center" style="margin-left: 30px; margin-right: 30px;"></md-divider>
      <% end %>
      <md-list>
    </md-content>
  </md-card>
    </div>

  </md-content>

<br>
<%= link_to 'New Listing', new_listing_path%>
