<p id="notice"><%= notice %></p>
<div id="container">
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="30" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-subhead">Select category:</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div flex="100" flex-gt-sm="50" layout="column">
            <div>
              <div flex-xs flex="50">
                <a class="md-button md-ink-ripple <%= @category_id.nil? ? 'md-primary bold' : '' %>" style="text-align: left;" href="/listings">Show all</a>
                <% @categories.each do |category| %>
                  <a class="md-button md-ink-ripple <%= @category_id == category.second ? 'md-primary bold' : '' %>" style="text-align: left;" href="/listings/category/<%= category.first %>"><%= category.first %></a>
                <% end %>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="70" layout="column">
      <md-card>
        <md-content>
          <md-list>
          <% @listings.each do |listing| %>
            <% logger.debug "debugging listing: #{listing.inspect}" %>
            <div class='filter <%= Category.find(listing.category_id).name.blank? ? 'Others' : Category.find(listing.category_id).name%>'>
              <md-list-item class="md-3-line" layout-margin layout-padding>
                <div class="md-list-item-text">
                  <span class="md-subhead"><%= link_to listing.title, listing_path(id:listing, isApplication: "false")%></span><br>

                  <span class=".md-body-1 post-meta">
                    Posted&nbsp;by:&nbsp;<%= get_poster_name(listing.poster_id) %>
                    |&nbsp;Category:&nbsp;<%= Category.find(listing.category_id).name %>
                  </span><br>
                  <br>
                  <span class=".md-body-1"><%= h(listing.description).gsub(/\n/, '<br/>').html_safe %></span><br>
                  <br>
                  <span class=".md-body-1">
                   <i class="material-icons md-24">attach_money</i><%= h(listing.remuneration).gsub(/\n/, '<br/>').html_safe %>
                  </span>
                  
                  <% if listing.is_open? %>
                    <% if current_user.id != listing.poster_id%>
                      <div class="inline-button apply-button" layout-align="end center">
                        <%= link_to "Apply", listing_path(id:listing, isApplication: "true"), class:"md-button md-raised"%>
                      </div>
                    <%else%>
                      <%= link_to 'Edit', edit_listing_path(@listing) , class: "md-raised md-button md-ink-ripple"%>
                      <a class="md-raised md-button md-ink-ripple"  ng-click="delete_listing(<%= @listing.id %>)">Delete</a>
                    <%end%>
                   <%else%>
                    <div class="inline-button apply-button" layout-align="end center">
                      <p>Listing Closed<p>
                    </div>
                  <%end%>                 


                </div> 
              </md-list-item>
              <md-divider ng-if="!$last" layout="center" class="divider"></md-divider>
            </div>
          <% end %>
          <md-list-item class="md-3-line" layout-margin layout-padding>
            <%= paginate @listings %>
          </md-list-item>
        </md-list>
      </md-content>
    </md-card>
  </div>
</md-content>
</div>
<br>
