<p id="notice"><%= notice %></p>

<div class="md-padding" layout-xs="column" layout="row" layout-align="end center">
<div flex-xs flex-gt-xs="60" layout="column" layout-align="right">
<md-input-container>
  <label>Search</label>
  <input type="text" ng-model="searchStr">
</md-input-container>
</div>
<div flex-xs layout="column">
  <md-button class="md-raised">Search</md-button>
</div>
</div>

<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="30" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-title">Filter by</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div flex="100" flex-gt-sm="50" layout="column">
            <div>
              <div flex-xs flex="50">
                <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                  Photography
                </md-checkbox>
              </div>
        <!--
          In IE, we cannot apply flex directly to <fieldset>
          @see https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
        -->
          <!--<legend>Using &lt;md-checkbox&gt; with &lt;ng-checked&gt; </legend>
          <div layout="row" layout-wrap flex>
            <div flex="50" ng-repeat="item in items">
              <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                {{ item }} <span ng-if="exists(item, selected)">selected</span>
              </md-checkbox>
            </div>
          </div>-->
            </div>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Filter</md-button>
        </md-card-actions>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="70" layout="column">
      <% @listings.each do |listing| %>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-title"><%= link_to listing.title, listing_path(id:listing, isApplication: "false")%></span>
          </md-card-title-text>
          <!--<md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>-->
        </md-card-title>
        <md-card-content>
        <span class="md-subhead"><%= listing.poster_id %></span><br>
        <span class=".md-body-1"><%= listing.description %></span><br>
        <span class=".md-body-1"><i class="material-icons">attach_money</i></span>
      </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <%= link_to listing_path(id:listing, isApplication: "true") do%>
          <md-button class="md-raised">
            Apply
          </md-button>
          <% end %> 
        </md-card-actions>
      </md-card>
      <% end %>
    </div>
  </md-content>
<!--<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Poster_id</th>
      <th>Is open?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
        <td><%= listing.poster_id %></td>
        <td><%= listing.is_open? %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>-->

<br>
<%= link_to 'New Listing', new_listing_path%>
