<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Poster_id:</strong>
  <%= @listing.poster_id %>
</p>

<p>
  <strong>Is open?:</strong>
  <%= @listing.is_open? %>
</p>

<h1>
  Application Details:
</h1>

<%= render 'job_applications/form' %>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
