<p id="notice"><%= notice %></p>

<md-content layout-padding>  
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-title"><%= @listing.title %></span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>  
    <p>
        <i class="material-icons">face</i>
        <%= get_poster_name(@listing.poster_id) %>
      </p>
      <p>
        <%= h(@listing.description).gsub(/\n/, '<br/>').html_safe %>
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
     <% if user_signed_in? %>
      <% if current_user.id != @listing.poster_id %>
      <md-button class="md-raised" ng-click="isApplication = ! isApplication">Apply now!</md-button>
      <%else%>
      <%= link_to 'Edit', edit_listing_path(@listing) , class: "md-raised md-button md-ink-ripple"%>
    <%= link_to 'Delete', @listing,  class: "md-raised md-button md-ink-ripple", method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
    <%else%>
    <%= link_to "Log In to apply", '/users/sign_in', class:"md-raised md-button md-ink-ripple"%>
    <%end%>
    </md-card-actions>
  </md-card>

 <% if user_signed_in? %>
 <% if current_user.id != @listing.poster_id %>
 <%= render 'job_applications/form' %>
 <% end %>
<% else %>
<%#= ask the user to login in %>
<% end %>
