<p id="notice"><%= notice %></p>

<md-content layout-padding>  
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-title"><%= @listing.title %></span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>  
    <p>
        <strong>Posted By</strong>
        <%= get_poster_name(@listing.poster_id) %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= h(@listing.description).gsub(/\n/, '<br/>').html_safe %>
      </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised" ng-click="isApplication = ! isApplication">Apply now!</md-button>
    </md-card-actions>
  </md-card>

<%= render 'job_applications/form' %>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
