<p id="notice"><%= notice %></p>

<h1>View Profile</h1>
<md-card>
<md-content>
  <md-tabs md-dynamic-height md-border-bottom>

  <md-tab label="Personal">
      <md-content class="md-padding">
        <h1 class="md-title">Personal Details</h1>
        <p>
          <strong>Name:</strong>
          <%= @user.name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
        
        <%= link_to "Edit Profile", edit_user_path(current_user), class:"md-button md-raised"%>
      </md-content>
    </md-tab>

    <md-tab label="Applications">
      <md-content class="md-padding">
        <h1 class="md-title">Your Job Applications</h1>
        <% @job_applications.each do |job_application| %>
        Application_id: <%= job_application.id %> <br />
        Listing_id: <%= job_application.listing_id %> <br />
        Details: <%= job_application.details %>
        <md-divider></md-divider>
        <% end %> <br />
      </md-content>
    </md-tab>

    <md-tab label="Listings">
      <md-content class="md-padding">
        <h1 class="md-title">Your Listings</h1>
        <% @listings.each do |listing| %>
        Listing_id: <%= listing.id %> <br />
        Title: <%= listing.title %> <br />
        Description: <%= listing.description %> <br />
        <md-divider></md-divider>
        <% end %> <br />
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>
</md-card>