<p id="notice"><%= notice %></p>

<h1>View Profile</h1>
<md-card>
<md-content>
  <md-tabs md-dynamic-height md-border-bottom>

    <md-tab label="Personal">
      <md-content class="md-padding">
        <p>
          <strong>Name:</strong>
          <%= @user.name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
        
        <%= link_to "Edit Profile", edit_user_path(current_user), class:"md-button md-raised"%>
      </md-content>
    </md-tab>

    <md-tab label="Applications">
      <md-content class="md-padding">
        <% @job_applications.reverse_each do |job_application| %>
        <div class="md-3-line" layout-margin layout-padding>
          <span>
            <strong>Listing:</strong> <%= link_to get_listing_title(job_application.listing_id), listing_path(id:get_listing(job_application.listing_id), isApplication: "false") %> <br>
          </span>
          <span>
            <strong>Application:</strong> <%= link_to h(job_application.details).gsub(/\n/, '<br/>').html_safe, job_application %><br>
          </span>
          <span>
            <strong>Date applied:</strong> <%= job_application.created_at.to_date %>
          </span>
        </div>
        <md-divider></md-divider>
        <% end %>
        <br>
      </md-content>
    </md-tab>

    <md-tab label="Listings">
      <md-content class="md-padding">
        <% @listings.reverse_each do |listing| %>
          <div class="md-3-line" layout-margin layout-padding>
              <span class="md-subhead"> <%= listing.title %> </span><br>
              <span class=".md-body-1">
                <i class="material-icons">date_range</i><%= listing.created_at.to_date %> <i class="material-icons">loyalty</i><%= Category.find(listing.category_id).name %> <i class="material-icons md-24">local_atm</i><%= h(listing.remuneration).gsub(/\n/, '<br/>').html_safe %> 
                  </span>
                <br><br>
                <span>
              <strong>Status:</strong> <%= get_open_status(listing) %> <br>
            </span> 
              <span class=".md-body-1"><%= h(listing.description).gsub(/\n/, '<br/>').html_safe %></span>
            <%#- link_to "View Applications", show_job_application_path, class:"md-button md-raised" %>

          </div>
          <md-card-actions layout="row" layout-align="end center">
            <% if listing.is_open? %>
            <%= link_to 'Edit', edit_listing_path(listing) , class: "md-raised md-button md-ink-ripple"%>
            <a class="md-raised md-button md-ink-ripple"  ng-click="delete_listing(<%= listing.id %>)">Close</a>
            <% end %>
          </md-card-actions>
          <md-divider></md-divider>
        <% end %> 
      </md-content>
    </md-tab>

    <md-tab label="Notifications(<%=@new_notifications.count%>)">
      <md-content class="md-padding">
        <% @notifications.reverse_each do |notification| %>
        <%read_notification(notification)%>
        <div class="md-3-line" layout-margin layout-padding>
          <p><strong>Job title: </strong><%= link_to get_listing_title_by_app(notification.job_application_id), get_listing(get_application_by_id(notification.job_application_id).listing_id) %></p>
          <p><strong>Applicant name: </strong><%=get_user_name(notification.sender_id) %><br></p>
          <p><strong>Application date: </strong><%=notification.created_at.to_date %><br></p>  
        </div>
          <md-card-actions layout="row" layout-align="end center">
            <%= link_to 'view',  get_application_by_id(notification.job_application_id),  class: "md-raised md-button md-ink-ripple"%>
          </md-card-actions>        
        <md-divider></md-divider>
        <% end %>
        <br>    
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>
</md-card>
