<p id="notice"><%= notice %></p>

<h1>View Profile</h1>
<md-card>
<md-content>
  <md-tabs md-dynamic-height md-border-bottom>

  <md-tab label="Personal">
      <md-content class="md-padding">
        <h1 class="md-title">Personal Details</h1>
        <p>
          <strong>Name:</strong>
          <%= @user.name %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>
        
        <%= link_to "Edit Profile", edit_user_path(current_user), class:"md-button md-raised"%>
      </md-content>
    </md-tab>

    <md-tab label="Applications">
      <md-content class="md-padding">
        <h1 class="md-title">Your Job Applications</h1>
        <% @job_applications.each do |job_application| %>
        <div class="md-3-line" layout-margin layout-padding>
          <span>
            <strong>Listing:</strong> <%= link_to get_listing_title(job_application.listing_id), listing_path(id:get_listing(job_application.listing_id), isApplication: "false") %> <br />
          </span>
          <span>
            <strong>Application:</strong> <%= h(job_application.details).gsub(/\n/, '<br/>').html_safe %><br>
          </span>
          <span>
            <strong>Date applied:</strong> <%= job_application.created_at.to_date %>
          </span>
        </div>
        <md-divider></md-divider>
        <% end %> <br />
      </md-content>
    </md-tab>

    <md-tab label="Listings">
      <md-content class="md-padding">
        <h1 class="md-title">Your Listings</h1>
        <% @listings.each do |listing| %>
        <div class="md-3-line" layout-margin layout-padding>
          <span>
            <strong>Title:</strong> <%= listing.title %> <br />
          </span>
          <span>
            <strong/>Description:</strong> <%= h(listing.description).gsub(/\n/, '<br/>').html_safe %> <br />
          </span>
          <span>
            <strong>Date listed:</strong> <%= listing.created_at.to_date %><br>
          </span>
          <%-# link_to "View Applications", show_job_application_path, class:"md-button md-raised" %>
        </div>
        <md-divider></md-divider>
        <% end %> <br />
      </md-content>
    </md-tab>

    <md-tab label="Notifications">
      <md-content class="md-padding">
        <h1 class="md-title">Notifications</h1>
        <% @notifications.each do |notification| %>
        <%=notification.sender_id %> has applied to your listing. <%=link_to 'View the application', get_application_by_id(notification.job_application_id)%><br />
        <% end %> <br />    
      </md-content>
    </md-tab>
  </md-tabs>
</md-content>
</md-card>