<md-card flex-xs="100" flex-md="70" flex-lg="55" flex-xl="55">
  <md-card-title>
      <md-card-title-text>
        <span class="md-title">Change your password</span>
      </md-card-title-text>
    </md-card-title>
<md-card-content>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <md-input-container class="md-block">
  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>
  <md-input-container class="md-block">

<md-input-container class="md-block">
  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <md-input-container class="md-block">

  <div class="actions">
    <%= f.submit "Change my password", class:"md-raised md-button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</md-card-content>
</md-card>
