<md-card flex-xs="100" flex-md="70" flex-lg="40" flex-xl="40">
  <md-card-title>
      <md-card-title-text>
        <span class="md-title">Forgot your password?</span>
      </md-card-title-text>
    </md-card-title>
<md-card-content>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
  	<md-input-container class="md-block">
    	<%= f.label :email %><br />
    	<%= f.email_field :email, autofocus: true %>
	</md-input-container>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:"md-raised md-button md-ink-ripple" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</md-card-content>
</md-card>
