<%= form_for(@job_application) do |f| %>
  <% if @job_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_application.errors.count, "error") %> prohibited this job_application from being saved:</h2>

      <ul>
      <% @job_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <md-divider ng-if="!$last"></md-divider>
  <div ng-hide="isApplication" class="ng-hide">
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Application Form</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>    
    <form name="jobApplicationForm">
      <md-input-container class="md-block">
        <label>Job Title</label>
        <input required name="jobTitle" ng-model="project.jobTitle">
        <div ng-messages="projectForm.jobTitle.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>        
      <md-input-container class="md-block">    
        <label>Applicant id</label>
        <%#=<input md-maxlength="30" required md-no-asterisk name="name" ng-model="job.applicant"></input> %>
          <%= f.number_field :listing %>
        <div ng-messages="jobApplicationForm.applicant.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Email</label>
        <input required type="email" name="clientEmail" ng-model="project.clientEmail"
               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
        <div ng-messages="projectForm.clientEmail.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
            Your email must be between 10 and 100 characters long and look like an e-mail address.
          </div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Skills</label>
        <input required name="skills" ng-model="project.skills"/>
        <div ng-messages="projectForm.skills.$error" multiple md-auto-hide="false">
          <div ng-message="required">
            Indicate your relavant skills and work experience.
          </div>
        </div>
      </md-input-container>
    </form>
    <md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <%#=<md-button class="md-raised">Submit</md-button>%>
      <%= f.submit "Submit", class: "md-raised md-button md-ink-ripple"%>
    </md-card-actions>
  </md-content>
  </md-card>
<% end %>
