<p id="notice"><%= notice %></p>

<p>
  <strong>Applicant:</strong>
  <%= @job_application.user_id %>
</p>

<p>
  <strong>Listing:</strong>
  <%= @job_application.listing_id %>
</p>

<%= link_to 'Edit', edit_job_application_path(@job_application) %> |
<%= link_to 'Back', job_applications_path %>
