<p id="notice"><%= notice %></p>

<md-content layout-padding>  
  <md-card>
      <md-card-title>
      <md-card-title-text>
<% if current_user.id == @job_application.user_id%>
<span class="md-title">Application submitted!</span>
	      </md-card-title-text>
    </md-card-title>
    <md-card-content>  
<% else %>
<span class="md-title">Job Title: <%= get_listing_title(@job_application.listing_id) %></span>
	      </md-card-title-text>
    </md-card-title>
    <md-card-content>  
<p>
  <strong>Applicant name:</strong>
  <%= get_applicant_name(@job_application.user_id) %>
</p>
<p>
  <strong>Applicant email:</strong>
  <%= get_applicant_email(@job_application.user_id) %>
</p>
<% end %>

<p>
  <strong>Application Detail:</strong>
  <%= @job_application.details %>
</p>
</md-card-content>
 <md-card-actions layout="row" layout-align="end center">
</md-card-actions>
</md-card>
