<!DOCTYPE html>
<html lang="en">
<head>
  <title>NUSOddJobs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'listings', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.3/angular-material.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:700;500;400" />

  <meta charset="UTF-8">
  <meta name="keywords" content="nusoddjobs, nus, odd, jobs, oddjobs, task, work, part time">

  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
  </style>
</head>
<body ng-app="OddjobApp" ng-cloak data-no-turbolink>
  
  <div layout="column">
    <div flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span><a href="\" class="home">NUSOddJobs</a></span>

        <div id="searchBox">
        <div class="md-padding" layout-xs="column" layout="row" layout-align="end center">
          <div flex-xs flex-gt-xs="100" layout="column">
            <input type="text" id="search-input" autocomplete="off" placeholder="Search listings">
          <!--<md-input-container>
            <label>Search listings</label>
            <input type="text" ng-model="searchStr">
          </md-input-container>-->
          </div>

          <md-button class="md-icon-button md-primary" aria-label="Search">
            <i class="material-icons">search</i>
          </md-button>
        </div>
      </div>
        <!-- fill up the space between left and right area -->
        <!--<span flex></span>-->
        <div id="menu">
          <% if user_signed_in? %>

          <md-menu-bar>
            <md-menu>
            <div ng-click=$mdOpenMenu()>
            <%= link_to "My Profile", '', class:"md-button"%>
            </div>
            <md-menu-content  width="3">
              <md-menu-item>
              <i class="material-icons md-24 menu-icon">account_circle</i>
                <%= link_to "View Profile", current_user, class:"md-button"%>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
              <i class="material-icons md-24 menu-icon">fiber_new</i>
                <%= link_to "New Listing", new_listing_path, class:"md-button"%>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete, class:"md-button"%>
          </md-menu>
          </md-menu-bar>

          <% else %>

          <md-menu-bar>
            <md-menu>
              <%= link_to "Log In", '/users/sign_in', class:"md-button"%>
            </md-menu>
            <md-menu>
              <%= link_to "Sign Up", '/users/sign_up', class:"md-button"%>
            </md-menu>
          </md-menu-bar>

          <% end %>
        </div>
      </div>
    </md-toolbar>
  </div>

  <div flex>
    <div layout="row" layout-align="center center" id="bigContainer">
      <div flex-xs="100" flex-md="100" flex-lg="70" flex-xl="60">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>  
    </div>
  </div>

    <div>
    <footer>
        <div layout="row" layout-align="center center">
          <div layout-margin layout-padding>
            © 2016 NUSOddJobs
          </div>
        </div>
    </footer>
  </div>
    <!--<footer id="footer">
      <md-divider></md-divider>
        <div id="footer-content">
          <a href="">About</a>
        </div>
    </footer>-->
    
  </div>
  

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.3/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
  <script type="text/javascript">    
    angular.module('OddjobApp', ['ngMaterial'])
      .config(function($mdThemingProvider) {
        $mdThemingProvider.theme('default')
        .primaryPalette('teal')
        .accentPalette('amber');
    });
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76233078-1', 'auto');
  ga('send', 'pageview');

  </script>
</body>
</html>
