<!DOCTYPE html>
<html lang="en">
<head>
  <title>OddJobs@NUS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'listings', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.3/angular-material.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:700;500;400" />
  <link rel='shortcut icon' type="image/x-icon" href='/assets/favicon.ico' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <meta charset="UTF-8">
  <meta name="keywords" content="oddjobs@nus, oddjobsnus, nusoddjobs, nus, odd, jobs, oddjobs, task, work, part time">
  <meta name=viewport content="width=device-width, initial-scale=1">

  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
  </style>
</head>
<body ng-app="OddjobApp" ng-controller="oddjobCtrl" ng-cloak data-no-turbolink>

  <div layout="column" style="height: 100%;">
    <div>
    <md-toolbar id="header-bar">
      <div class="md-toolbar-tools">
        <span><a href="/" class="home">OddJobs@NUS</a></span>

        <div id="searchBox">
          <div class="md-padding" layout-xs="column" layout="row" layout-align="end center">
            <div flex-xs flex-gt-xs="100" layout="column">
              <input type="text" id="search-input" autocomplete="off" placeholder="Search listings">
            </div>
            <md-button class="md-icon-button md-primary" aria-label="Search">
              <i class="material-icons">search</i>
            </md-button>
          </div>
				</div>
        <!-- fill up the space between left and right area -->
        <div id="menu">
          <% if user_signed_in? %>

          <md-menu-bar>
            <md-menu>
              <div ng-click=$mdOpenMenu()>
                <%= link_to "My Profile (#{current_user.name})", '', class:"md-button"%>
              </div>
              <md-menu-content  width="3">
                <md-menu-item>
                  <i class="material-icons md-24 menu-icon">account_circle</i>
                  <%= link_to "View Profile", current_user, class:"md-button"%>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                  <i class="material-icons md-24 menu-icon">fiber_new</i>
                  <%= link_to "New Listing", new_listing_path, class:"md-button"%>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete, class:"md-button"%>
          </md-menu-bar>

          <% else %>

          <md-menu-bar>
            <%= link_to "Log In", '/users/sign_in', class:"md-button"%>
            <%= link_to "Sign Up", '/users/sign_up', class:"md-button"%>
          </md-menu-bar>
          <% end %>
        </div>
      </div>
    </md-toolbar>
  </div>
  <div flex id="body-content">
    <div layout="row" layout-align="center center" id="bigContainer">
      <div flex-xs="100" flex-md="100" flex-lg="70" flex-xl="60">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>  
    </div>
  </div>
  <div>
    <footer>
        <div layout="row" layout-align="center center">
          <div layout-margin layout-padding>
            © 2016 OddJobs@NUS <a href="https://www.facebook.com/oddjobnus/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div>
        </div>
    </footer>
  </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.3/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
  <script type="text/javascript">    
    angular.module('OddjobApp', ['ngMaterial'])
      .controller('oddjobCtrl', ['$scope', '$mdDialog', function($scope, $mdDialog) {
        $scope.delete_listing = function(listing_id) {
				showConfirmationDialog("Confirmation", "Are you sure you want to delete this listing?", "Yes", "No, I changed my mind", function() { send_delete_request(listing_id); });
        }

        function showConfirmationDialog(title, message, okButtonText, cancelButtonText, okCallback) {
          var gameOverDialog = $mdDialog.confirm()
            .title(title)
            .textContent(message)
            .ok(okButtonText)
						.cancel(cancelButtonText);
          $mdDialog.show(gameOverDialog)
            .then( okCallback );
        }

        function send_delete_request(listing_id) {
          var href = '/listings/' + listing_id,
            method = 'delete',
            target = '',
            csrfToken = $.rails.csrfToken(),
            csrfParam = $.rails.csrfParam(),
            form = $('<form method="post" action="' + href + '"></form>'),
            metadataInput = '<input name="_method" value="' + method + '" type="hidden" />';

          if (csrfParam !== undefined && csrfToken !== undefined && !$.rails.isCrossDomain(href)) {
            metadataInput += '<input name="' + csrfParam + '" value="' + csrfToken + '" type="hidden" />';
          }

          if (target) { form.attr('target', target); }

          form.hide().append(metadataInput).appendTo('body');
          form.submit();
        }
      }])
      .config(function($mdThemingProvider) {
        $mdThemingProvider.theme('default')
        .primaryPalette('teal')
        .accentPalette('amber');
    });
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-76233078-1', 'auto');
  ga('send', 'pageview');
  </script>
</body>
</html>
